doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    != scripts
    script(type='text/javascript', defer='defer').
      window.onload = function() {
        document.getElementById("js-sdk").style.display = "block";
      }
  body
    #js-sdk(style='display: none;')
      section(class="bg-gray-50 dark:bg-gray-900")
        div(class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0")
          div(class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700")
            div(class="p-6 space-y-4 md:space-y-6 sm:p-8")
              h1(class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white")= title
              h2(class="flex items-center mb-6 text-1xl font-semibold text-gray-900 dark:text-white") Verify your phone number:
              if error
                div(class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400")
                  p= error
              form(class="space-y-4 md:space-y-6" action='/verify' method='post')
                label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for='code') Verification code:
                input#code(
                  type='text'
                  name='code'
                  required
                  class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                )
                input#phoneNumber(type='hidden' name='phoneNumber' value=phoneNumber)
                button(type='submit' class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded") Verify
